################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ESO_Launcher_Closer_Updated/.vs
/ESO_Launcher_Closer_Updated/obj
/ESO_Launcher_Closer_Updated/bin
/ESO_Launcher_Closer_Updated/ESO_Launcher_Closer_Updated.csproj
/ESO_Launcher_Closer_Updated/ESO_Launcher_Closer_Updated/ESO Launcher Closer_32512.ico
